.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 0.5rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 0.5rem;
    text-align: left;
    overflow: hidden; /* Add this line */
    text-overflow: ellipsis; /* Add this line */
    white-space: nowrap;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.search-container {
    display: flex;
    gap: 0.5rem;
    width: 50%;
  }
  
  input#search {
    flex: 1; /* Add this line */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button#search-btn {
    height: 32px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button#search-btn:hover {
    background-color: #0056b3;
  }

  .sorting-options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  label {
    margin-bottom: 0;
  }
  
  select#sort-select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  